# macOS
.DS_Store

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-store/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Env
.env
.venv/

# Builds
dist/
build/
.out/
.next/
